<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube MP3 Downloader</title>
</head>

<body>
    <div id="download-form">
        <form action="/baixar_audio" method="POST">
            <input type="text" id="url" name="url" placeholder="Insira o link do video para converter" required>
            <button type="submit">Baixar Audio</button>
        </form>
    </div>


    <div id="response">
        <!-- A resposta do servidor será mostrada aqui -->
    </div>

    <script src="js/script.js"></script>
</body>

</html>